style(type="text/css"). 
  .form-control { padding:0;}

form.form-horizontal
  .row.form-group
    label.control-label.col-lg-1(for='bookname') 书名
    .col-lg-5.col-md-6
      input#bookname.form-control(name='bookname', type='text')
  .row.form-group
    label.control-label.col-lg-1(for='publisher')  出版社
    .col-lg-5.col-md-6
      .btn-group
      button.btn.btn-default.dropdown-toggle(type='button') #{result[0].name}
        span.caret
      ul.dropdown-menu
        each item in result
          li 
            a(href='#') #{item.name}

  .row.form-group
    label.control-label.col-lg-1(for='price')  价格
    .col-lg-5.col-md-6
      input#price.form-control(name='price', type='text')
  .row.form-group
    label.control-label.col-lg-1(for='author')  作者
    .col-lg-5.col-md-6
      input#author.form-control(name='author', type='text')
  .row.form-group
    label.control-label.col-lg-1(for='level')  星级
    .col-lg-5.col-md-6
      input#level.form-control(name='level', type='text')

  button.btn.btn-primary.add(type='submit', style='margin-left:50px') 保存

script(type='text/javascript').
  var toggle = false;
  $('.dropdown-toggle').click(function(){
    toggle = !toggle;
    if(toggle) {
      $(".dropdown-menu").show()
    }else {
      $(".dropdown-menu").hide()
    }
  });

  $(".dropdown-menu li").click(function(){
    var pubilser = $(this).text();
    $('.dropdown-toggle').val(pubilser);
    $('.dropdown-toggle').text(pubilser)
    $(".dropdown-menu").hide();
    toggle = false;
  })
  $(".add").click(function(){
  
  })