doctype html
html
  head
    title= title
    meta(http-equiv="X-UA-Compatible" content="IE=emulateIE7")
    meta(http-equiv="Content-Type" content="text/html; charset=utf-8")
    script(type="text/javascript" src="/js/jquery.js")
    script(type="text/javascript" src="/js/global.js")
    link(rel='stylesheet', href='/css/bootstrap.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel="stylesheet" type="text/css" href="/css/style.css")
    link(rel="stylesheet" type="text/css" href="/css/skin_/main.css")
    link(rel="stylesheet" type="text/css" href="/css/jquery.dialog.css")
    link(rel="stylesheet" type="text/css" href="/css/skin_/nav.css")

  body
    block content
  