#ft.ue-clear
  .ft1.ue-clear
    i.ft-icon1
    span
      | 数字管理系统 More Templates 
      a(href='http://www.cssmoban.com/', target='_blank', title='模板之家') 模板之家
      |  - Collect from 
      a(href='http://www.cssmoban.com/', title='网页模板', target='_blank') 网页模板
    em Digital Pertal
  .ft2.ue-clear
    span Call Center
    em V2.0 2014
    i.ft-icon2