#hd
  .hd-top
    h1.logo
      a.logo-icon(href='javascript:;')
    .user-info
      a.user-avatar(href='javascript:;')
        span
          i.info-num 2
      span.user-name admin
      a.more-info(href='javascript:;')
    .setting.ue-clear
      .setting-skin
        .switch-bar
          i.skin-icon
          span.text 皮肤
          i.arrow-icon
      ul.setting-main.ue-clear
        li
          a(href='javascript:;') 桌面
        li
          a(href='javascript:;') 设置
        li
          a(href='javascript:;') 帮助
        li
          a.close-btn.exit(href='javascript:;')
  .hd-bottom
    i.home
      a(href='javascript:;')
    .nav-wrap
      ul.nav.ue-clear
        li
          a(href='javascript:;') 平台管理
        li
          a(href='javascript:;') 系统管理
        li
          a(href='javascript:;') 安全管理
        li
          a(href='javascript:;') 数据中心
        li
          a(href='javascript:;') 表单管理
        li
          a(href='javascript:;') 流程管理
        li
          a(href='javascript:;') 交流中心
        li
          a(href='javascript:;') 企业邮箱
        li
          a(href='javascript:;') 个人设置
        li
          a(href='javascript:;') 交流中心
        li
          a(href='javascript:;') 企业邮箱
        li
          a(href='javascript:;') 个人设置
        li
          a(href='javascript:;') 交流中心
        li
          a(href='javascript:;') 企业邮箱
        li
          a(href='javascript:;') 个人设置
    .nav-btn
      a.nav-prev-btn(href='javascript:;')
      a.nav-next-btn(href='javascript:;')
  .opt-panel.user-opt(style='top:52px;left:330px;')
      ul
        li
          a.text 用户资料
        li
          a.text
            | 短消息
            span.num (2)
        li
          a.text 资料信息
        li
          a.text 注销
        li
          a.text 自定义
      .opt-panel-tl
      .opt-panel-tc
      .opt-panel-tr
      .opt-panel-ml
      .opt-panel-mr
      .opt-panel-bl
      .opt-panel-bc
      .opt-panel-br
      .opt-panel-arrow
    .opt-panel.skin-opt(style='top:36px;right:157px;')
      ul.ue-clear
        li(attr-color='#0f8dc7')
        li(attr-color='#1ea4a9')
        li(attr-color='#eb7f00')
        li(attr-color='#ed0f04')
        li(attr-color='#f24b39')
        li(attr-color='#ed0f04')
        li(attr-color='#eb7f00')
        li(attr-color='#ed0f04')
        li(attr-color='#1ea4a9')
      .opt-panel-ml
      .opt-panel-mr
      .opt-panel-bl
      .opt-panel-bc
      .opt-panel-br
    .system-switch
      ul
        li
          span.system-name
            i
            | 数字管理系统
        li
          span.system-name
            i
            | 网络信息管理系统
        li
          span.system-name
            i
            | 后台管理系统
        li
          span.system-name
            i
            | 信息科技ERP系统
        li
          span.system-name
            i
            | 网络管理系统
      .opt-panel-mr
      .opt-panel-bc
      .opt-panel-br